**/bin
**/*.iml
**/*.orig
**/*.prefs
**/.classpath
**/.idea
**/.project
**/.settings
**/lib
**/.idea?
*.iml
**/*.prefs
*.o
*.orig
*~
~*
*.bak
.*.swp
.classpath
.idea
.project
.settings
.metadata/
.factoryPath
**/nb-configuration.xml
nbactions.xml
nbproject/
tags
target
target/
**/target/
**/logs/
pom.xml.releaseBackup
**/pom.xml.releaseBackup
**/dependency-reduced-pom.xml
docs/javadoc*
docs/_site